{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "quotes": [2, "double"],
    "semi": [2, "always"],
    "object-curly-spacing": [2, "always"],
    "comma-dangle": "off",
    "indent": [2, 2]
  }
}
